file_read_write.json
{
  "name": "JSON to file and Read-Write",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "0bb57512-5a66-4e74-883b-db29c6880d7c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "let myContacts = [\n  {\"json\": {\"name\": \"vikas\", email: {\"personal\": \"vikas@gmail.com\", \"work\": \"vikass@gmail.com\"}}},\n  {\"json\": {\"name\": \"akash\", email: {\"personal\": \"akash@gmail.com\", \"work\": \"akashs@gmail.com\"}}}\n]\n\nreturn myContacts"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "171575ac-a040-452c-ad8c-ac050652b0b5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "var items = $input.all()\n\nitems[0].json.workEmail = items[0].json.email.work\n\nreturn items\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "996f39e8-09b5-4574-ab49-78f94bd37970",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        496
      ],
      "id": "e80703a9-b9ca-460b-a013-a526795645f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        496
      ],
      "id": "1c0d1117-3ce0-4ee4-9ffc-9b7b56f183f1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        272
      ],
      "id": "db12082d-285d-4330-ab60-e2e1cbc02309",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".post .item-title a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        480,
        272
      ],
      "id": "4e9607ef-d2c0-4e4c-a8d1-725d62fda6f1",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        272
      ],
      "id": "294a9b6b-cb12-4eac-98cc-e0d4168614dc",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        992,
        272
      ],
      "id": "1486dcf1-2bff-4b7a-8bd6-48413d7dc0e1",
      "name": "XML"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        928,
        -16
      ],
      "id": "b9ed684c-c5f3-41ce-9c97-f68bec1fec5a",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.created }}",
        "mode": "roundUp",
        "outputFieldName": "new-date",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1136,
        -16
      ],
      "id": "3a3af626-aa22-4f93-8f91-589a307ec953",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc7a40a2-96d8-4c41-bc4e-1b7879c05973",
              "leftValue": "={{ $json[\"new-date\"] }}",
              "rightValue": "1960-01-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "6107eafc-9649-432e-b955-d7eac96ccfd4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -16
      ],
      "id": "0b4cac16-2169-49ee-9d55-517a245872c4",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1552,
        -80
      ],
      "id": "55bb39c4-0ca3-4278-9f00-a4f6bf2be3a4",
      "name": "Wait",
      "webhookId": "fe795474-dc4d-4a83-bb86-97f605d3b7e5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54937889-66ea-427e-9f31-08ecd10aa1a6",
              "name": "new-date",
              "value": "={{ $json[\"new-date\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -80
      ],
      "id": "01fba7c5-b75f-46d0-a702-b21d10536b8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        736,
        -16
      ],
      "id": "548c04f3-701f-4c7c-b498-4b5f98de6527",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "e87ef7dc-b6b9-47dc-b26d-65e7aa091e74",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        2240,
        48
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\vikas\\Documents",
        "options": {
          "append": false
        }
      },
      "id": "7d225b28-db9e-4746-808a-a15049add518",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2448,
        48
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fileName }}",
        "options": {}
      },
      "id": "10cac59d-24c3-4599-b00a-1de3a05d9d86",
      "name": "Read/Write Files from Disk1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2640,
        48
      ]
    },
    {
      "parameters": {
        "url": "https://poetrydb.org/random/1",
        "options": {}
      },
      "id": "8069591d-4213-4fa4-9068-16f2598ec73c",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2048,
        48
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1968,
        368
      ],
      "id": "76957417-4ab2-4774-a39f-8d057e2c6c67",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://media.kaspersky.com/pdf/Kaspersky_Lab_Whitepaper_Anti_blocker.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        368
      ],
      "id": "2e6b8570-7204-40bd-bc16-4ed7e4e5b82f",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "212b16a7-ae67-4e8d-9260-4566f58705ea",
  "meta": {
    "instanceId": "72072b1514c3b51ed0e75a2a138905cdd31b74dde4a121244333df98071b2d41"
  },
  "id": "CGNQGeE1fFjnBFIC",
  "tags": []
}